.wrapper{
    background-color: white;
    box-shadow: 5px 5px 7px rgb(219, 213, 213); 
    margin: 0 auto;
    max-width: 1440px;
    padding: 10px;
}

.header{
    margin-left: 30px;
}

body{
    background-color: rgb(219, 213, 213);
}

.grid-items{
    background-color: white;
    display: grid;
    grid-gap: 20px 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    justify-items: center;
    margin: 70px 0;
}

.card-item{
    background-color: white;
    box-shadow: 5px 5px 7px rgb(219, 213, 213); 
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 400px;  
}

.card-item h3, p{
    margin-left: 10px;
}

.btn{
    background-color: rgb(37, 199, 240);
    width: 100px;
    height: 50px;
    margin: 10px;
}
